<!DOCTYPE html>
<hr style="margin: 0px;opacity: 0.5;">
<div class="bg-dark" style="height:350px;">
    <h1 class="text-white" style="text-align: left; font-size: 60px;font-weight: bold; padding-left: 50px;padding-top: 100px;">Pricing</h1>
</div>
<div style="height:150%;">
    <div class="row g-0" style="margin:100px 50px;">
        <div class="col-md-6">
            <div class="card-body">
                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 100px; height: 100px;">
                    <img src="assets/images/image5.jpg" height="100" class="clip-circular" alt="" loading="lazy" />
                </div>
                <h2 style="padding-top: 40px;padding-left: 35px;padding-bottom: 15px;font-size: 35px;font-weight: bold;text-align: center;">Path Maker Basic</h2>
                <ul style="text-align: center; list-style-type: none;">
                    <li>Monthly: 7,000 + GST</li>
                    <li>Quarterly: 19,000 + GST</li>
                    <li>Half Yearly: 35,000 + GST</li>
                    <li>Yearly: 55,000 + GST</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 100px; height: 100px;">
                    <img src="assets/images/image6.jpg" height="100" class="clip-circular" alt="" loading="lazy" />
                </div>
                <h2 style="padding-top: 40px;padding-left: 35px;padding-bottom: 15px;font-size: 35px;font-weight: bold;text-align: center;">Path Maker Advance</h2>
                <ul style="text-align: center; list-style-type: none;">
                    <li>Monthly: 15,000 + GST</li>
                    <li>Quarterly: 40,000 + GST</li>
                    <li>Half Yearly: 75,000 + GST</li>
                    <li>Yearly: 125,000 + GST</li>
                </ul>
            </div>
        </div>
    </div>
</div>