<!DOCTYPE html>
<h1 style="color: cornflowerblue;font-size: 50px;font-weight: bold;text-align: center;padding-top: 60px;">WHY CHOOSE US</h1>
<h3 style="font-size: 25px;font-weight: bold;text-align: center;padding-top: 10px;padding-bottom: 50px;">Accurate Record Keeping</h3>
<div class="row g-0">
    <div class="col-md-4">
        <div class="card" style="width:80%;margin: 40px;padding:20px;height:500px;">
            <div style="margin-top: 20px;margin-left: 10px;"><i class="fa fa-calendar fa-2x"></i></div>
            <div class="card-body">
                <h5 class="card-title card-title1">Path Maker Trading</h5>
                <p class="card-text">Path Maker Trading is an automated trading that uses softwares to scan market data dependent on pre-determined parameters and automatically place Buy/Sell orders.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width:80%;margin: 40px;padding:20px;height:500px;">
            <div style="margin-top: 20px;margin-left: 10px;"><i class="fa fa-suitcase fa-2x"></i></div>
            <div class="card-body">
                <h5 class="card-title card-title1">Auto Buy And Sell Signals</h5>
                <p class="card-text">Our strategies utilises many indicators which help in determing the right enter and exit point of a trade.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card" style="width:80%;margin: 40px;padding:20px;height:500px;">
            <div style="margin-top: 20px;margin-left: 10px;"><i class="fa fa-clock-o fa-2x"></i></div>
            <div class="card-body">
                <h5 class="card-title card-title1">Strategy Development</h5>
                <p class="card-text">We help in development of your own preferred custom trading strategy. Your strategy will be kept completely secret.</p>
            </div>
        </div>

    </div>
</div>