<!DOCTYPE html>
<hr style="margin: 0px;opacity: 0.5;">
<div class="bg-dark" style="height:350px;">
    <h1 class="text-white" style="text-align: left; font-size: 60px;font-weight: bold; padding-left: 50px;padding-top: 100px;">Register</h1>
</div>
<div style="height:300%;">
    <div class="row g-0" style="margin:100px 50px;">
        <div class="col-md-8" style="width:600px">
            <div class="card-body">
                <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScrod8YZigdlZlbw4WEb8VayIcny2quuTdtHxurreGJsjPrPg/viewform?embedded=true" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdGGQocNJv9WS2PptgE-cXVDK_Y8F8OxMwyOUbAhckOEDqOKQ/viewform?embedded=true" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
        <div class="col-md-4" style="margin:0px 20px;">
            <div class="card-body">
                <div style="padding-top: 30%;padding-bottom: 15px;font-size: 30px;font-weight: bold;">Note</div>
                <div>Login Id and Password values are mandatory.</div>
                <div>User API Key is madatory for Angel Broking account</div>
                <div>For Zerodha, either User API Key or Security Answer is mandatory.</div>

                <div style="padding-top: 50px;padding-bottom: 15px;font-size: 30px;font-weight: bold;">Phone</div>
                <div>+915324033982</div>

                <div style="padding-top: 50px;padding-bottom: 15px;font-size: 30px;font-weight: bold;">Email</div>
                <div>pathmaker.software@gmail.com</div>
            </div>
        </div>
    </div>
</div>