<!DOCTYPE html>
<hr style="margin: 0px;opacity: 0.5;">
<div class="bg-dark" style="height:350px;">
    <h1 class="text-white" style="text-align: left; font-size: 60px;font-weight: bold; padding-left: 50px;padding-top: 100px;">Payment</h1>
</div>
<div style="height:250%;">
    <div class="row g-0" style="margin:100px 50px;">
        <div class="col-md-6">
            <div class="card-body">
                <h2 style="padding-top: 40px;padding-left: 35px;padding-bottom: 15px;font-size: 30px;font-weight: bold;text-align: center;">IMPS/NEFT/RTGS</h2>
                <div class="text-center text-format">Name:- Path maker Software Services</div>
                <div class="text-center text-format">Bank Name :- IDFC FIRST Bank</div>
                <div class="text-center text-format">Account No:- 10098709213</div>
                <div class="text-center text-format">IFSC :- IDFB0021541</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <img src="assets/images/image7.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
</div>