<!DOCTYPE html>
<hr style="margin: 0px;opacity: 0.5;">
<div class="bg-dark" style="height:350px;">
    <h1 class="text-white" style="text-align: left; font-size: 60px;font-weight: bold; padding-left: 50px;padding-top: 100px;">About Us</h1>
</div>
<div class="row g-0" style="height:400%">
    <div class="col-md-6" style="padding: 20px;">
        <img src="assets/images/image8.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6">
        <div class="card-body">
            <h2 style="padding-top: 40px;padding-left: 35px;padding-bottom: 15px;font-size: 35px;font-weight: bold;">About Us</h2>
            <p style="padding-left: 35px;padding-bottom: 15px; color: darkolivegreen; font-size: 20px;">Path Maker is a simple and user-friendly software, for automated trading in the stock market. You can now leave your trading worries with us. While you go about your daily chores, our software will continue to work hard on your behalf to make
                sure that you do not miss out any opportunities in the stock market.</p>
        </div>
    </div>
</div>

<div class="row g-0" style="height:400%; background-color: beige;">
    <div class="col-md-6">
        <div class="card-body">
            <h2 style="padding-top: 40px;padding-left: 35px;padding-bottom: 15px;font-size: 35px;font-weight: bold;">We Execute Automated Trading</h2>
        </div>
    </div>
    <div class="col-md-6" style="padding: 20px;">
        <p style="padding-left: 35px;padding-top:30px; padding-bottom: 15px; color: darkolivegreen;font-size: 20px;">Our algorithm intervenes and analyses every quote and trade in the stock market, indentifies liquidity opportunities and turns the information into intelligent trading. As a result trades are executed at the best possible price with multiple automated
            checks in place to gauge various market conditions, eliminating the need for any kind of human intervention.</p>
    </div>
</div>