<hr style="margin: 0px;opacity: 0.5;">
<div class="row g-0 bg-dark">
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="text-white" style="text-align: left; font-size: 60px; padding-left: 50px;padding-top:20px;">Path Maker Software Services</h1>
            <p class="text-white" style="text-align: left; font-size: 20px; padding-left: 50px;">Build your profit from now onwards</p>
        </div>
    </div>
    <div class="col-md-4" style="padding: 20px;">
        <img src="assets/images/image1.PNG" class="img-fluid rounded-start" alt="...">
    </div>
</div>
<app-service-component></app-service-component>
<app-features-component></app-features-component>
<app-contact-component></app-contact-component>