<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="" width="150" height="150"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 25px;">
            <div class="navbar-nav">
                <a routerLink="/home" (click)="clickEvent(1)" [ngClass]="checkstatus()==1 ? 'active' : ''" class="nav-link" style="font-size: 20px; margin: 5px 5px;" aria-current="page" href="#">Home</a>
                <a routerLink="/services" (click)="clickEvent(2)" [ngClass]="checkstatus()==2 ? 'active' : ''" class="nav-link" style="font-size: 20px; margin: 5px 5px;" href="#">Services</a>
                <a routerLink="/pricing" (click)="clickEvent(3)" [ngClass]="checkstatus()==3 ? 'active' : ''" class="nav-link" style="font-size: 20px; margin: 5px 5px;" href="#">Pricing</a>
                <!-- <a routerLink="/payment" (click)="clickEvent(4)" [ngClass]="checkstatus()==4 ? 'active' : ''" class="nav-link" style="font-size: 20px; margin: 5px 5px;" href="#">Payment</a> -->
                <a routerLink="/register" (click)="clickEvent(5)" [ngClass]="checkstatus()==5 ? 'active' : ''" class="nav-link" style="font-size: 20px; margin: 5px 5px;" href="#">Register</a>
                <a routerLink="/tradingAccount" (click)="clickEvent(6)" [ngClass]="checkstatus()==6 ? 'active' : ''" class="nav-link" style="font-size: 20px; margin: 5px 5px;" href="#">Trading Account</a>
                <a (click)="clickEvent(7)" [ngClass]="checkstatus()==7 ? 'active' : ''" class="nav-link" style="font-size: 20px; margin: 5px 5px;" href="https://docs.google.com/spreadsheets/d/1KIP7FP0lgyWPfvPvz6lwRbkRyA7FlKiJ2ygacBNGVm0/edit?usp=sharing">Report</a>
                <a routerLink="/contact" (click)="clickEvent(8)" [ngClass]="checkstatus()==8 ? 'active' : ''" class="nav-link" style="font-size: 20px; margin: 5px 5px;" href="#">Contact</a>
                <a routerLink="/about" (click)="clickEvent(9)" [ngClass]="checkstatus()==9 ? 'active' : ''" class="nav-link" style="font-size: 20px; margin: 5px 5px;" href="#">About</a>
            </div>
        </div>
    </div>
</nav>