<!DOCTYPE html>
<hr style="margin: 0px;opacity: 0.5;">
<div class="bg-dark" style="height:350px;">
    <h1 class="text-white" style="text-align: left; font-size: 50px;font-weight: bold; padding-left: 50px;padding-top: 110px;">Open Demat And Trading Account</h1>
</div>
<div class="row g-0" style="background-color: beige;">
    <div class="col-md-6" style="padding: 20px;">
        <img src="assets/images/image9.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6" style="padding-left: 40px;">
        <div class="card-body">
            <h2 style="padding-top: 40px;margin-left: 35px;padding-bottom: 15px;font-size: 35px;font-weight: bold;">Angel Broking</h2>
            <ul style="margin-left: 35px;">
                <li>Easy to use portal and mobile app</li>
                <li>Around 1 Crore registered clients</li>
                <li>Award winning financial partner</li>
                <li>Research and Advisory team to guide you</li>
                <li>Advanced Trading Platforms.</li>
            </ul>
            <button style="margin-left: 50px;padding:5px 15px;" onclick="window.open('https://5minwebsite.angelbroking.com/')" type="button" class="btn btn-primary">Open Angel Broking Account</button>
        </div>
    </div>
</div>

<div class="row g-0" style="background-color: beige;">
    <div class="col-md-6" style="padding-left: 40px;">
        <div class="card-body">
            <h2 style="padding-top: 40px;margin-left: 35px;padding-bottom: 15px;font-size: 35px;font-weight: bold;">Paytm Money</h2>
            <ul style="margin-left: 35px;">
                <li>Free Demat Account</li>
                <li>Free Account Opening Charges</li>
                <li>Free IPO Application</li>
                <li>Free Equity Delivery</li>
                <li>Free Subscription for 1 month</li>
                <li>Detail Tracking of all your investments</li>
                <li>Detailed Mutual Fund Information </li>
                <li>Invest in National Pension System</li>
            </ul>
            <button style="margin-left: 50px;padding:5px 15px;" onclick="window.open('https://paytmmoney.onelink.me/9L59/7e6b919e')" type="button" class="btn btn-primary">Open PayTm Money Account</button>
        </div>
    </div>
    <div class="col-md-6" style="padding: 20px;">
        <img src="assets/images/image10.jpg" class="img-fluid rounded-start" alt="...">
    </div>
</div>







<div class="row g-0" style="background-color: beige;">
    <div class="col-md-6" style="padding: 20px;">
        <img src="assets/images/image11.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6" style="padding-left: 40px;">
        <div class="card-body">
            <h2 style="padding-top: 40px;margin-left: 35px;padding-bottom: 15px;font-size: 35px;font-weight: bold;">Upstox</h2>
            <ul style="margin-left: 35px;">
                <li>1 Cr+ Happy investors</li>
                <li>Flat fees, no hidden charges</li>
                <li>Zero Comission on Mutual Funds and IPOs investment</li>
                <li>Zero Account Maintenance</li>
                <li>Zero Account Opening charges</li>
                <li>Rs 20 brokerage on Equity, F&O, Commodity and currency orders</li>
            </ul>
            <button style="margin-left: 50px;padding:5px 15px;" onclick="window.open('https://upstox.com/open-demat-account/?f=0m7Y')" type="button" class="btn btn-primary">Open Upstox Account</button>
        </div>
    </div>
</div>

<div class="row g-0" style="background-color: beige;padding-bottom: 20px;">
    <div class="col-md-6" style="padding-left: 40px;">
        <div class="card-body">
            <h2 style="padding-top: 40px;margin-left: 35px;padding-bottom: 15px;font-size: 35px;font-weight: bold;">Zerodha</h2>
            <ul style="margin-left: 35px;">
                <li>Largest stock broker in India.</li>
                <li>Brokerage – Free equity delivery, Flat Rs 20 for intraday and F&O Trades and Zero commission for Direct Mutual Funds</li>
                <li>Kite – ultra-fast flagship trading platform, advanced charts, an elegant UI</li>
                <li>Coin – Buy direct mutual funds online, commission-free, delivered directly to your Demat account</li>
                <li>Kite Connect API – Build powerful trading platforms and experiences with our super simple HTTP/JSON APIs</li>
            </ul>
            <button style="margin-left: 50px;padding:5px 15px;" onclick="window.open('https://zerodha.com/open-account?c=ZMPHZC')" type="button" class="btn btn-primary">Open Zerodha Account</button>
        </div>
    </div>
    <div class="col-md-6" style="padding: 20px;">
        <img src="assets/images/image12.png" class="img-fluid rounded-start" alt="...">
    </div>
</div>